code
[
    {
        "id": "edd15025.b2b43",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "3faf520b.e4d29e",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "d19fc847.f60038",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "fb97f513.4449d8",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "8d2909eb.b6d628",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "e501409.6972cc",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "d6e82278.36062",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "c3668ce9.bf93c",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "299d4258.92e84e",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "7d008510.7a077c",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "C",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "red",
        "icon": "",
        "payload": "C",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "7e4b6b83.fb16e4",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 11,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "7527fe81.0a9bd",
        "type": "ui_button",
        "z": "bdac6536.e53cf8",
        "name": "",
        "group": "4f904c9b.fe29c4",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "E",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "green",
        "icon": "",
        "payload": "E",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "b64fc6ca.046ae8",
        "type": "ui_template",
        "z": "bdac6536.e53cf8",
        "group": "4f904c9b.fe29c4",
        "name": "Display 1",
        "order": 14,
        "width": "2",
        "height": "1",
        "format": "<div  style=\"color:black;font-size:24px;font-weight:bold;\"  align=\"right\" ng-bind-html=\"msg.payload\"></div>\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "3d686165.1c306e",
                "74c35421.4de1fc"
            ]
        ]
    },
    {
        "id": "bf8a7958.7a19f8",
        "type": "inject",
        "z": "bdac6536.e53cf8",
        "name": "StartUp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "7d008510.7a077c"
            ]
        ]
    },
    {
        "id": "41d29b9e.1e7574",
        "type": "ui_led",
        "z": "bdac6536.e53cf8",
        "group": "4f904c9b.fe29c4",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Status",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c9c18c1.827bd8",
        "type": "inject",
        "z": "bdac6536.e53cf8",
        "name": "Debug 5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "8d2909eb.b6d628"
            ]
        ]
    },
    {
        "id": "b70aeab8.7ec9b8",
        "type": "inject",
        "z": "bdac6536.e53cf8",
        "name": "Debug E",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "7527fe81.0a9bd"
            ]
        ]
    },
    {
        "id": "3d686165.1c306e",
        "type": "function",
        "z": "bdac6536.e53cf8",
        "name": "",
        "func": "if (msg.payload > 0 && msg.run === true) {\n msg.payload = msg.payload - 1;\n if (msg.payload === 0) \n    msg.run = false;\n    return msg;\n} else if (msg.reset !== undefined) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 360,
        "wires": [
            [
                "14a5fa33.160156",
                "70553567.093b8c"
            ]
        ]
    },
    {
        "id": "14a5fa33.160156",
        "type": "delay",
        "z": "bdac6536.e53cf8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "a4bc3c64.a00fb"
            ]
        ]
    },
    {
        "id": "a4bc3c64.a00fb",
        "type": "function",
        "z": "bdac6536.e53cf8",
        "name": "Parse",
        "func": "var data = context.get('data') ||\"0\";\nvar run = context.get('run') || false;\n\nif (msg.payload === \"C\") {\n    \n    run = false;\n    data = \"0\";\n    msg.reset = true;\n\n }  else if (msg.payload === \"E\") {\n\n    if (data !== \"0\") {\n        run = true;\n    }\n\n } else {\n    \n    if (run === false)\n        if (data === \"0\")\n            data = msg.payload;\n        else\n            data = data + msg.payload;\n    else \n        data = msg.payload;\n    run = msg.run;\n\n }\n\ncontext.set('data',data);\ncontext.set('run',run);\nmsg.run = run;\nmsg.payload = data;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "b64fc6ca.046ae8",
                "8f049265.e8344"
            ]
        ]
    },
    {
        "id": "8f049265.e8344",
        "type": "change",
        "z": "bdac6536.e53cf8",
        "name": "Run",
        "rules": [
            {
                "t": "move",
                "p": "run",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "41d29b9e.1e7574"
            ]
        ]
    },
    {
        "id": "999b2f6e.c16e8",
        "type": "inject",
        "z": "bdac6536.e53cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "af98ed28.28b05"
            ]
        ]
    },
    {
        "id": "af98ed28.28b05",
        "type": "function",
        "z": "bdac6536.e53cf8",
        "name": "",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "14a5fa33.160156"
            ]
        ]
    },
    {
        "id": "74c35421.4de1fc",
        "type": "debug",
        "z": "bdac6536.e53cf8",
        "name": "1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "70553567.093b8c",
        "type": "debug",
        "z": "bdac6536.e53cf8",
        "name": "2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f904c9b.fe29c4",
        "type": "ui_group",
        "z": "",
        "name": "Pad",
        "tab": "438710b1.f4878",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "438710b1.f4878",
        "type": "ui_tab",
        "z": "",
        "name": "Key",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
